* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center ;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  width: 25vw;
  background-color: #fff;
  padding: 20px;
  border-radius: 14px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
input {
  padding: 10px;
  border: none;
}
input[type="Number"] {
    border-bottom: 5px solid transparent;
}
input[type="Number"]:focus {
  outline: none;
  border-bottom: 5px solid rgb(13, 172, 13);
}
button[type="submit"] {
  width: 6vw;
  padding: 12px;
  margin-left: auto;
  color: #fff;
  background-color: rgb(42, 160, 87);
}